/*Create Header background : colorful gradient*/
.h1-container {
    margin-bottom: 0%;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, purple, pink);
    padding: 5px;
}

/*Search Button
Search label font: bold and different font than Weather Dashboard title*/
.search-label {
    font-weight: 700;
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
